* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Oswald", sans-serif;
}
a {
  text-decoration: none;
  color: white;
}
.container {
  width: 75%;
  max-width: 1200px;
  margin: 0 auto;
}

/* HEADER */
header {
  padding: 26px 0;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
header .logo {
  font-size: 32px;
  font-weight: 700;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header nav a {
  padding: 0 25px;
  text-transform: uppercase;
  font-size: 17px;
  transition: 0.5s;
}
header nav a:hover {
  color: #e62b4a;
}
header a.active {
  color: #e62b4a;
}

/* BANNER */
.banner {
  height: 120vh;
  min-height: 500px;
  background-image: url(./image-video/home_slider.jpg);
  background-size: cover;
  background-position: center;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.banner p {
  font-size: 25px;
  font-weight: 500;
}
.banner h2 {
  font-size: 75px;
  font-weight: 700;
  line-height: 1.2;
}
.banner button {
  background: #e62b4a;
  border: none;
  padding: 12px 32px;
  color: white;
  transition: 0.5s;
  cursor: pointer;
  margin-top: 20px;
  font-size: 16px;
}
.banner button:hover {
  background: #af2239;
}
.banner i {
  margin-top: 50px;
  font-size: 32px;
  animation-name: arrowAnimate;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

/* CAROUSEL */
.carousel {
  padding: 90px 0;
  background: black;
  text-align: center;
  color: #888888;
  letter-spacing: 1px;
}
.carousel .carousel__title p:first-of-type {
  color: #e62b4a;
  font-size: 14px;
  font-weight: 300;
}
.carousel .carousel__title h2 {
  font-size: 50px;
  font-weight: 400;
  color: white;
}
.carousel .carousel__title p:last-of-type {
  font-size: 17px;
  font-weight: 500;
  margin-top: 20px;
}
.carousel__list {
  margin-top: 20px;
}
.carousel .item__container i {
  font-size: 50px;
}
.carousel__item {
  margin: 10px;
}
.carousel__item .item__container {
  background: white;
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.carousel__item .item__container::before {
  position: absolute;
  content: "";
  width: 5px;
  height: 0;
  background: #e62b4a;
  top: 0;
  right: 0;
  transition: 0.2s linear;
}
.carousel__item:hover .item__container::before {
  height: 100%;
}
.carousel .item__container p {
  margin-top: 20px;
}
.carousel .slick-dots li button::before {
  color: #e8e8e8;
  font-size: 12px;
  opacity: 0.25;
}
.carousel .slick-dots li.slick-active button:before {
  color: #e62b4a;
  opacity: 1;
}
.carousel .slick-dots {
  bottom: -40px;
}

/* BLOGS */
.blogs {
  padding: 100px 0;
  color: #888888;
}
.blogs__title {
  text-align: center;
}
.blogs__title h3 {
  font-size: 14px;
  font-weight: 400;
}
.blogs__title h2 {
  color: black;
  font-size: 50px;
  font-weight: 400;
}
.blogs__title p {
  font-size: 16px;
  font-weight: 700;
  margin-top: 20px;
}
.blogs__content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  margin-top: 50px;
}
.blogs__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: grayscale(50%) contrast(50%);
}
.blogs__content .blogs__item1 {
  grid-column: 1 / span 2;
  grid-row: 1 / span 2;
}
.blogs__content .blogs__item10 {
  grid-column: 3 / span 2;
  grid-row: 3 / span 2;
}
.blogs__content .blogs__item {
  position: relative;
}
.blogs__item .blogs__overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(230, 43, 74, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: all 0.5s;
}
.blogs__item .blogs__overlay:hover {
  opacity: 1;
}
.blogs__overlay .blogs__icon {
  position: absolute;
  top: 40px;
  right: 20px;
  font-size: 14px;
  transition: 0.8s;
  width: 35px;
  height: 35px;
  background: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.blogs__overlay:hover .blogs__icon {
  top: 20px;
}
.blogs__overlay .blogs__icon:hover {
  background-color: black;
  color: white;
}
.blogs__overlay .blogs__icon:hover i {
  color: white;
}
.blogs__overlay .blogs__icon i {
  color: black;
}
.blogs__overlay .blogs__text {
  position: absolute;
  left: 20px;
  bottom: 0;
  transition: 0.8s;
}
.blogs__overlay:hover .blogs__text {
  bottom: 20px;
}
.blogs__overlay .blogs__text p {
  color: #d0c7c8;
}
.blogs__overlay .blogs__text h3 {
  color: white;
}

/* NUMBER */
.number {
  padding: 100px 0;
  background-color: black;
  color: white;
}
.number__container {
  display: flex;
  justify-content: space-around;
  text-align: center;
}
.number__item h2 {
  font-size: 60px;
  font-weight: 300;
}
.number__item p {
  font-size: 20px;
  color: #888888;
}

/* EXPERIENCE */
.experience {
  text-align: center;
  padding: 100px 0;
  background-image: url(./image-video/bussiness_img_1.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.experience h3 {
  color: #e62b4a;
  font-size: 14px;
  font-weight: 300;
}
.experience h2 {
  font-size: 50px;
  font-weight: 400;
  color: white;
}
.experience p {
  font-size: 16px;
  color: #888888;
  font-weight: 700;
  margin: 20px 0 30px;
}
.experience video {
  width: 100%;
}

/* CONTACT */
.contact {
  width: 70%;
  margin: 0 auto;
  padding: 100px 0;
  text-align: center;
}
.contact__title h2 {
  font-size: 50px;
  font-weight: 400;
}
.contact__title p {
  color: #888888;
  font-weight: 400;
  margin: 20px 0 30px;
}
.contact__content {
  display: flex;
}
.contact__map {
  width: 60%;
}
.contact__map iframe {
  width: 100%;
  height: 100%;
}
.contact__form {
  width: 40%;
}
.contact__form form {
  display: flex;
  flex-direction: column;
  padding: 0 15px;
}
.contact__form input,
.contact__form textarea {
  font-size: 15px;
  padding: 15px;
  border: 1px solid #888888;
  border-radius: 2px;
  margin-bottom: 30px;
}
.contact__form textarea {
  height: 200px;
}
.contact__form button {
  background-color: black;
  border: 1px solid black;
  color: white;
  padding: 20px 30px;
  letter-spacing: 1px;
  cursor: pointer;
  transition: 0.5s;
}
.contact__form button:hover {
  background-color: #e62b4a;
  border-color: #e62b4a;
}

/* FOOTER */
footer {
  background-color: black;
  color: white;
  padding: 100px 0;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer p {
  font-size: 14px;
}
footer a {
  width: 54px;
  height: 54px;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 16px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin-left: 5px;
  transition: 0.5s;
}
footer a:hover {
  background-color: #e62b4a;
}

/* BACK TO TOP */
.backToTop {
  width: 60px;
  height: 60px;
  color: white;
  font-size: 20px;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  bottom: 20px;
  right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
  opacity: 0;
}
.cd-top--is-visible {
  visibility: visible;
  opacity: 1;
}

/* transform */
@keyframes arrowAnimate {
  from {
    transform: translate(0);
    opacity: 1;
  }
  to {
    transform: translateY(40px);
    opacity: 0;
  }
}
